<mat-card *ngFor="let albumPhoto of albumPhotos" class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="example-header-image"
      [ngStyle]="{ 'background-image': 'url(' + albumPhoto.thumbnailUrl + ')' }"
    ></div>
    <mat-card-title>{{ albumPhoto.title }}</mat-card-title>
    <mat-card-subtitle>Photo id: {{ albumPhoto.id }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="albumPhoto.url" [alt]="albumPhoto.title" />
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
