<mat-card>
  <mat-card-content>
    <button mat-stroked-button style="margin: 32px" (click)="addPhoto()">
      <mat-icon mat-list-icon>exposure_plus_1</mat-icon>
      Add photo
    </button>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let albumPhoto of albumPhotos; trackBy: photoTrackBy">
  <mat-card-header>
    <div
      mat-card-avatar
      [ngStyle]="{ 'background-image': 'url(' + albumPhoto.thumbnailUrl + ')' }"
    ></div>
    <mat-card-title>{{ albumPhoto.title }}</mat-card-title>
    <mat-card-subtitle>Photo id: {{ albumPhoto.id }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="albumPhoto.url" [alt]="albumPhoto.title" />
  <mat-card-actions>
    <button
      mat-stroked-button
      color="warn"
      (click)="removePhoto(albumPhoto.id)"
    >
      <mat-icon mat-list-icon>delete</mat-icon>
      DELETE
    </button>
  </mat-card-actions>
</mat-card>

<div *ngIf="!albumPhotos?.length">No photos, please add</div>
