<ng-container *ngIf="userService.users$ | async as users">
  <h2>Users ({{ users.length }})</h2>
  <mat-expansion-panel #expansionPanel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ user.name }}</mat-panel-title>
      <mat-panel-description style="flex: 0 0 auto">
        {{ expansionPanel.expanded ? "Hide" : "Show" }}
        albums</mat-panel-description
      >
    </mat-expansion-panel-header>
    <app-album-list
      *ngIf="expansionPanel.expanded"
      [userId]="user.id"
    ></app-album-list>
  </mat-expansion-panel>
</ng-container>
